<div class="alert alert-success"><%= t('successfully_queued') %></div>
Worker Name: <%= @worker_name %>
<br/>
Job id: <%= @job_id %>
<div style='margin-top: 10px;'>
  <a class="btn btn-default" href="<%= root_path %>busy?poll=true"><%= t('go_to_busy') %></a>
  <a class="btn btn-danger" href="<%= root_path %>busy" style="color: white;"><%= t('go_to_scheduled') %></a>
</div>
